In [1]:
1+1

2

In [3]:
a=1
b="가나"

In [5]:
age =100, b=2

SyntaxError: can't assign to literal (<ipython-input-5-2263a1723d8a>, line 1)

In [6]:
a

1

In [7]:
print(a)

1

In [9]:
age =100 ; b=2

In [51]:
x='12345'
x[1]
print(x, x[1], len(x), x[len(x)-1])

12345 2 5 5

In [40]:
a=10e5

In [41]:
print(a,type(a))

1000000.0 <class 'float'>

In [98]:
b=100**10
print(b,type(b))

100000000000000000000 <class 'int'>

In [60]:
c='호'
print(c+str(10))

호10

In [61]:
c+str(10)

'호10'

In [62]:
a='100'
10*int(a)

1000

In [63]:
int(10.2)

10

In [70]:
name = "홍길동"
print("내 이름은 " +name + " 입니다")

print("내 이름은" ,name , "입니다")
print("내 이름은 %s 입니다"%name)

내 이름은 홍길동 입니다
내 이름은 홍길동 입니다
내 이름은 홍길동 입니다

In [71]:
addr='서울'
print("내 이름은 %s 이고, 주소는 %s 입니다"%(name,addr))

내 이름은 홍길동 이고, 주소는 서울 입니다

In [75]:
print("내 이름은 {} 이고, 주소는 {} 입니다" .format(name,addr))
print("내 이름은 {0} 이고, 주소는 {1} 입니다" .format(name,addr))
print("내 이름은 {1} 이고, 주소는 {0} 입니다" .format(name,addr))

내 이름은 홍길동 이고, 주소는 서울 입니다
내 이름은 홍길동 이고, 주소는 서울 입니다
내 이름은 서울 이고, 주소는 홍길동 입니다

In [79]:
"abc".upper()

'ABC'

In [81]:
"aBcDDDefg".swapcase()

'AbCdddEFG'

In [82]:
"aBcDDDefg".capitalize()

'Abcdddefg'

In [83]:
" dbc ssdf ".strip()

'dbc ssdf'

In [92]:
" dbc ssdf\n\r ".lstrip()

'dbc ssdf\n\r '

In [91]:
" dbc ssdf\n\r ".rstrip()

' dbc ssdf'

In [90]:
" dbc ssdflk\n\r".replace('ss', 'kk')

' dbc kkdflk\n\r'

In [94]:
" dbc ssdf ".find('ss')

5

In [95]:
msg = ['a','b','c']
"#".join(msg)

'a#b#c'

In [96]:
"010-1111-9999".split("-")

['010', '1111', '9999']

In [99]:
name = input('이름을 입력')

이름을 입력ㅇㅇㅇ

In [100]:
name

'ㅇㅇㅇ'

In [108]:
inch = float(input('인치(inch)를 입력하세요 : '))
cm = inch*2.54
print('센티미터 : %.2f'% cm)
print('센티미터 : {}'.format(cm))
print(f'센티미터 : {cm}')

인치(inch)를 입력하세요 : 10
센티미터 : 25.40
센티미터 : 25.4
센티미터 : 25.4

In [109]:
name = input('학생 이름을 입력하세요:')
kor = int(input('국어 성적을 입력하세요:'))
eng = int(input('영어 성적을 입력하세요:'))
math = int(input('수학 성적을 입력하세요:'))
total = kor+eng+math
avg = total / 3
print('이름: %s, 국어:%d,영어:%d,수학:%d, 평균:%.1f점' %(name,kor,eng,math,avg))

학생 이름을 입력하세요:홍길동
국어 성적을 입력하세요:50
영어 성적을 입력하세요:60
수학 성적을 입력하세요:70
이름: 홍길동, 국어:50,영어:60,수학:70, 평균:60.0점

In [110]:
#한줄주석
"""
독 스트링은 문자열이다. 
하지만 주석 용도로도 가능하다.
"""

'\n독 스트링은 문자열이다. \n하지만 주석 용도로도 가능하다.\n'

In [111]:
mystr = """
독 스트링은 문자열이다. 
하지만 주석 용도로도 가능하다.
"""

In [112]:
type(mystr)

str

In [113]:
print(mystr)

독 스트링은 문자열이다.
하지만 주석 용도로도 가능하다.

In [114]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [115]:
print.__doc__

"print(value, ..., sep=' ', end='\\n', file=sys.stdout, flush=False)\n\nPrints the values to a stream, or to sys.stdout by default.\nOptional keyword arguments:\nfile:  a file-like object (stream); defaults to the current sys.stdout.\nsep:   string inserted between values, default a space.\nend:   string appended after the last value, default a newline.\nflush: whether to forcibly flush the stream."

In [164]:
a= 1000
b= 100
if (a>5) and a>b :
    print("A가 크네")
    
    
    b=a
    print(b)
    print("정말.. 클까?")
else :
    print("A가 작네")

A가 크네
1000
정말.. 클까?

In [173]:
a = 257
b = 257
print(id(a),  id(b))

1767454011216 1767472406736